@{
    Layout = "_WelcomeLayout";
}

<form asp-action="Receive" method="post">
    <div>
        <label for="nome"> informe seu nome</label>
        <input type="text" id="name" name="name" /Enviar>
    </div>
    <button type="submit">enviar</button>
</form>