@{
    Layout = "_WelcomeLayout";
}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Hamburgueria</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
   <link rel="stylesheet" href="@Url.Content("~/css/cardapio.css")">
</head>
<body>
    <header>
    
    </header>
    
    <div class="container">
        <nav class="sidebar">
            <ul>
                <li class="active"><button><img src="~/img/lanches.png" alt="Lanches"><span>Lanches</span></button></li>
                <li><button><img src="~/img/combos.png" alt="Combos"><span>Combos</span></button></li>
                <li><button><img src="~/img/sobremesas1.jpg" alt="Sobremesas"><span>Sobremesas</span></button></li>
                <li><button> <img src="~/img/bebidas.png" alt="Bebidas"><span>Bebidas</span></button></li>
                <li><button><img src="" alt="Extras"><span>Extras</span></button></li>
                <li><button><img src="~/img/molho.jpg" alt="Molhos"><span>Molhos</span></button></li>
            </ul>
        </nav>
        
        <main class="content">
            <div class="produtos">
                <div class="produto">
                    <img src="~/img/lanches.png" alt="Buguer 404">
                    <h3>Buguer 404</h3>
                    <p>R$ 29,00</p>
                    <p>Pão brioche, carne 150g, queijo cheddar, cebola caramelizada.</p>
                </div>
                <div class="produto">
                    <img src="~/img/full1.png" alt="Full Stack Burger">
                    <h3>Full Stack Burger</h3>
                    <p>R$ 32,00</p>
                    <p>Pão australiano, carne 180g, queijo prato, bacon, barbecue.</p>
                </div>
                <div class="produto">
                    <img src="~/img/duplo1.jpg" alt="Looping Duplo">
                    <h3>Looping Duplo</h3>
                    <p>R$ 30,00</p>
                    <p>Pão de batata, 2 carnes 120g, queijo cheddar, molho especial.</p>
                </div>
                <div class="produto">
                    <img src="~/img/back1.jpg" alt="Looping Duplo">
                    <h3>Back-End Crispy</h3>
                    <p>R$ 30,00</p>
                    <p>Pão de Brioche, 3 carnes 150g, queijo cheddar, bacon suculento, molho especial.</p>
                </div>
                <div class="produto">
                    <img src="~/img/back1.jpg" alt="Looping Duplo">
                    <h3>Back-End Crispy</h3>
                    <p>R$ 30,00</p>
                    <p>Pão de batata, 2 carnes 120g, cebola crispy, queijo cheddar, molho especial.</p>
                </div>
                <div class="produto">
                    <img src="~/img/back1.jpg" alt="Looping Duplo">
                    <h3>Back-End Crispy</h3>
                    <p>R$ 30,00</p>
                    <p>Pão de batata, 2 carnes 120g, cebola crispy, queijo cheddar, molho especial.</p>
                </div>
               
            </div>
        </main>
    </div>
    
    <footer>
        <div class="footer-info">
            <p>Total de itens: <span id="total-itens">0</span></p>
            <p>Total do pedido: R$ <span id="total-pedido">0</span></p>
        </div>
        <div class="car-cont">
            <span class="car-text">Ver Carrinho</span>
            <button class="btn-car" onclick="redirecionar1()">
                <i class="fa-solid fa-cart-shopping"></i>
            </button>
        </div>    
        <button class="btn-confirm">Pronto</button>
    </footer>
</body>
</html>

<script>
    function redirecionar1() {
       window.location.href = "/Home/carrinho";
    }
</script>
