<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ADSBURGUER</title>
  <link rel="stylesheet" href="@Url.Content("~/css/home/carregamento.css")"/>
</head>
<body>
  <div class="container">
    <div class="text">ADSBURGUER</div>
    <img src="@Url.Content("~/img/lanche.png")" class="burger-img" />
    
    <div class="loading-text">AGUARDE O CARREGAMENTO</div>
  </div>
</body>
</html>
