@{
    Layout = "_WelcomeLayout";
}

<div class="caixa-verm"> ADS Burguer</div>
<div class="caixa-amar"></div>
<div class="caixa-verd"></div>
<img class="imagem-b" src="~/img/burguer1.jpg" alt="aa">
<img src="~/img/batataf1.jpg" alt="">
<img src="~/img/refri1.jpg" alt="">

<div class="center">
    <button class="inic-p">Iniciar Pedido</button>
</div>
