@{
    Layout = "_WelcomeLayout";
}

<img class="logo" src="https://i.pinimg.com/474x/ca/ff/dc/caffdc755a4396b4c99da3da83e62796.jpg" alt="">
<div class="caixa-verm"></div>
<p>
    O MELHOR <br> LANCHE DE <br> SOROCABA.
</p>
<img class="combao" src="./img/Combao.jpg" alt="">
<div class="center-baixo">
    <button class="inic-p">Toque para iniciar</button>
</div>

