@{
    Layout = "_WelcomeLayout";
    var cardapioUrl = Url.Action("clienteNome", "Home");
}

<link rel="stylesheet" href="@Url.Content("~/css/home/site.css")">

<div class="contei">
    <img class="logo" src="~/img/Red Illustrative Burger Food Logo_20250216_231603_0000 1.png" alt="">
    <div class="caixa-verm"></div>
    <p>
        O MELHOR <br> LANCHE DE <br> SOROCABA.
    </p>
    <img class="combao" src="~/img/Red_Illustrative_Burger_Food_Logo-removebg-preview 1.png" alt="">
        <button class="inic-p" onclick="redirecionar()">Toque para iniciar</button>
</div>


<script>
    
    function redirecionar() {
        //  redirecionar para a próxima página
        window.location.href = "home/clienteNome";
    }
</script>
