@{
    Layout = "_WelcomeLayout";
    var cartaoUrl = Url.Action("Cartao", "Home");
}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagamento cart達o</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
   <link rel="stylesheet" href="@Url.Content("~/css/cartao.css")">
</head>
<body>
    <i class="fa-solid fa-arrow-left fa-2xl"></i>
    <h1>pagamento com cart達o</h1>
    <p>insira,aproxime ou passe seu cart達o no leitor ao lado</p>
    <img src="./cartao.png" alt="qr code do pix">
    <p><strong>cart達o de debito</strong></p>
</body>
</html>