@model TotemPWA.Models.Ingredient
@{
    ViewBag.Title = "Adicionar Ingrediente";
}
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Hub Administrativo";
}
<link rel="stylesheet" href="@Url.Content("~/css/produto/novoProduto.css")">

<h2>Adicionar Ingrediente</h2>
<form asp-action="CreateIngredient" method="post">
    <div class="form-group">
        <label asp-for="Name">Nome</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price">Preço</label>
        <input asp-for="Price" class="form-control" type="number" step="0.01" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Limit">Limite</label>
        <input asp-for="Limit" class="form-control" type="number" />
        <span asp-validation-for="Limit" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Salvar</button>
    <a href="@Url.Action("Ingredients", "HubAdministrativo")" class="btn btn-secondary">Cancelar</a>
</form>