<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADS - Burguer</title>
</head>
<body>
    <h2>Usuario gay</h2>
    <p>Somos uma startup de desenvolvimento de go-horse!</p>
</body>
</html>